{
  "packages": {
    "email": {
      "service": "SendGrid",
      "user": "apikey",
      "password": "PASSWORD"
    }
  },
  "private": {
    "stripe": {
      "secretKey": "sk_test_YOUR_SECRET_KEY",
      "proPriceId": "price_YOUR_PRO_PRICE_ID"
    },
    "currencyFreaksApiKey": "API_KEY"
  },
  "public": {
    "stripe": {
      "publishableKey": "pk_test_YOUR_PUBLISHABLE_KEY",
      "stripeConnectClientId": "ca_YOUR_CONNECT_CLIENT_ID"
    }
  }
}
